// app section
#app {
    width: 100%;
    height: 100vh;
    display: flex;
.background {
    width: 65%;
    height: 100vh;
    background-color: #77AC23;
    display: flex;
    justify-content: center;
    align-items: center;


    img {
        width: 500px;

    }
}

.signin {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}

